.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
Communication interpersonnelle/Luca_le_GOAT_V1.mp4
Communication interpersonnelle/video_corentin.mov
Informatique/.vscode/c_cpp_properties.json
Informatique/.vscode/launch.json
Informatique/.vscode/settings.json
Informatique/Codage_en_C/BDN/Fondamentaux.pdf
Informatique/Codage_en_C/BDN/.vscode/launch.json
Informatique/Codage_en_C/BDN/.vscode/tasks.json
Informatique/Codage_en_C/C_apprentissage/ex1.c
Informatique/Codage_en_C/C_apprentissage/ex1.exe
Informatique/Codage_en_C/C_apprentissage/ex2.c
Informatique/Codage_en_C/C_apprentissage/ex2.exe
Informatique/Codage_en_C/C_apprentissage/ex3.c
Informatique/Codage_en_C/C_apprentissage/ex3.exe
Informatique/Codage_en_C/C_apprentissage/ex4.c
Informatique/Codage_en_C/C_apprentissage/ex4.exe
Informatique/Codage_en_C/C_apprentissage/ex5.c
Informatique/Codage_en_C/C_apprentissage/ex5.exe
Informatique/Codage_en_C/C_apprentissage/ex6.c
Informatique/Codage_en_C/C_apprentissage/ex6.exe
Informatique/Codage_en_C/C_apprentissage/ex7.c
Informatique/Codage_en_C/C_apprentissage/ex7.exe
Informatique/Codage_en_C/C_apprentissage/ex8.c
Informatique/Codage_en_C/C_apprentissage/ex8.exe
Informatique/Codage_en_C/C_apprentissage/ex9.c
Informatique/Codage_en_C/C_apprentissage/ex9.exe
Informatique/Codage_en_C/C_apprentissage/ex10.c
Informatique/Codage_en_C/C_apprentissage/ex10.exe
Informatique/Codage_en_C/Fonctions/ex1.c
Informatique/Codage_en_C/Fonctions/ex1.exe
Informatique/Codage_en_C/Fonctions/ex3.c
Informatique/Codage_en_C/Fonctions/ex3.exe
Informatique/Codage_en_C/Fonctions/ex4.c
Informatique/Codage_en_C/Fonctions/ex4.exe
Informatique/Codage_en_C/Fonctions/ex5.c
Informatique/Codage_en_C/Fonctions/ex5.exe
Informatique/Codage_en_C/Fonctions/ex6.c
Informatique/Codage_en_C/Fonctions/ex6.exe
Informatique/Codage_en_C/Fonctions/ex7.c
Informatique/Codage_en_C/Fonctions/ex7.exe
Informatique/Codage_en_C/Fonctions/ex8.c
Informatique/Codage_en_C/Fonctions/ex8.exe
Informatique/Codage_en_C/Fonctions/ex9.c
Informatique/Codage_en_C/Fonctions/ex9.exe
Informatique/Codage_en_C/Fonctions/ex10.c
Informatique/Codage_en_C/Fonctions/ex10.exe
Informatique/Codage_en_C/Fonctions/ex11.c
Informatique/Codage_en_C/Fonctions/ex11.exe
Informatique/Codage_en_C/Fonctions/ex12.c
Informatique/Codage_en_C/Fonctions/ex12.exe
Informatique/Codage_en_C/GIT/.vscode/c_cpp_properties.json
Informatique/Codage_en_C/GIT/.vscode/launch.json
Informatique/Codage_en_C/GIT/.vscode/settings.json
Informatique/Codage_en_C/GIT_coco/.vscode/c_cpp_properties.json
Informatique/Codage_en_C/GIT_coco/.vscode/launch.json
Informatique/Codage_en_C/GIT_coco/.vscode/settings.json
Informatique/Codage_en_C/Structure_de_controle_C1/ex1.c
Informatique/Codage_en_C/Structure_de_controle_C1/ex1.exe
Informatique/Codage_en_C/Structure_de_controle_C1/ex2.c
Informatique/Codage_en_C/Structure_de_controle_C1/ex2.exe
Informatique/Codage_en_C/Structure_de_controle_C1/ex3.c
Informatique/Codage_en_C/Structure_de_controle_C1/ex3.exe
Informatique/Codage_en_C/Structure_de_controle_C1/ex4.c
Informatique/Codage_en_C/Structure_de_controle_C1/ex4.exe
Informatique/Codage_en_C/Structure_de_controle_C1/ex5.c
Informatique/Codage_en_C/Structure_de_controle_C1/ex5.exe
Informatique/Codage_en_C/Structure_de_controle_C1/ex6.c
Informatique/Codage_en_C/Structure_de_controle_C1/ex6.exe
Informatique/Codage_en_C/Structure_de_controle_C1/ex7.c
Informatique/Codage_en_C/Structure_de_controle_C1/ex7.exe
Informatique/Codage_en_C/Structure_de_controle_C2/ex1.c
Informatique/Codage_en_C/Structure_de_controle_C2/ex1.exe
Informatique/Codage_en_C/Structure_de_controle_C2/ex2.c
Informatique/Codage_en_C/Structure_de_controle_C2/ex2.exe
Informatique/Codage_en_C/Structure_de_controle_C2/ex3.c
Informatique/Codage_en_C/Structure_de_controle_C2/ex3.exe
Informatique/Codage_en_C/Structure_de_controle_C2/ex4.c
Informatique/Codage_en_C/Structure_de_controle_C2/ex4.exe
Informatique/Codage_en_C/Structure_de_controle_C2/ex5.c
Informatique/Codage_en_C/Structure_de_controle_C2/ex5.exe
Informatique/Codage_en_C/Structure_de_controle_C2/ex6.c
Informatique/Codage_en_C/Structure_de_controle_C2/ex6.exe
Informatique/Codage_en_C/Structure_de_controle_C2/ex7.c
Informatique/Codage_en_C/Structure_de_controle_C2/ex7.exe
Informatique/Codage_en_C/Structure_de_controle_C2/ex8.c
Informatique/Codage_en_C/Structure_de_controle_C2/ex8.exe
Informatique/Codage_en_C/Structure_de_controle_C2/ex9.c
Informatique/Codage_en_C/Structure_de_controle_C2/ex9.exe
Informatique/Codage_en_C/Structure_de_controle_C2/ex10.c
Informatique/Codage_en_C/Structure_de_controle_C2/ex10.exe
Informatique/Codage_en_C/Structure_de_controle_C2/ex11.c
Informatique/Codage_en_C/Structure_de_controle_C2/ex11.exe
Informatique/Codage_en_C/Structure_de_controle_C2/ex12.c
Informatique/Codage_en_C/Structure_de_controle_C2/ex12.exe
Informatique/Codage_en_C/Structure_de_controle_C2/ex13.c
Informatique/Codage_en_C/Structure_de_controle_C2/ex13.exe
Informatique/Codage_en_C/Structure_de_controle_C2/ex14.c
Informatique/Codage_en_C/Structure_de_controle_C2/ex14.exe
Informatique/Codage_en_C/Structure_de_controle_C2/ex15.c
Informatique/Codage_en_C/Structure_de_controle_C2/ex15.exe
Informatique/Codage_en_C/Tableaux_statiques/ex1.c
Informatique/Codage_en_C/Tableaux_statiques/ex1.exe
Informatique/Codage_en_C/Tableaux_statiques/ex2.c
Informatique/Codage_en_C/Tableaux_statiques/ex2.exe
Informatique/Codage_en_C/Tableaux_statiques/ex3.c
Informatique/Codage_en_C/Tableaux_statiques/ex3.exe
Informatique/Codage_en_C/Tableaux_statiques/ex4.c
Informatique/Codage_en_C/Tableaux_statiques/ex4.exe
Informatique/Codage_en_C/Tableaux_statiques/ex5.c
Informatique/Codage_en_C/Tableaux_statiques/ex5.exe
Informatique/Codage_en_C/Tableaux_statiques/ex6.c
Informatique/Codage_en_C/Tableaux_statiques/ex6.exe
Informatique/Codage_en_C/Tableaux_statiques/ex7.c
Informatique/Codage_en_C/Tableaux_statiques/ex7.exe
Informatique/Codage_en_C/Tableaux_statiques/ex8.c
Informatique/Codage_en_C/Tableaux_statiques/ex8.exe
Informatique/Codage_en_C/Tableaux_statiques/ex9.c
Informatique/Codage_en_C/Tableaux_statiques/ex9.exe
Informatique/Codage_en_C/Tableaux_statiques/ex10.c
Informatique/Codage_en_C/Tableaux_statiques/ex10.exe
Informatique/Codage_en_HTML_CSS/site CV/index.html
Informatique/Codage_en_HTML_CSS/site CV/css/style.css
Informatique/Codage_en_HTML_CSS/site CV/images/image_CV.jpg
Informatique/Codage_en_HTML_CSS/site CV/images/scroll_to_top.png
Informatique/Codage_en_HTML_CSS/site CV 2.0/index.html
Informatique/Codage_en_HTML_CSS/site CV 2.0/css/style.css
Informatique/Codage_en_HTML_CSS/site CV 2.0/images/image_CV.jpg
Informatique/Codage_en_HTML_CSS/site monaco/buvette.html
Informatique/Codage_en_HTML_CSS/site monaco/index.html
Informatique/Codage_en_HTML_CSS/site monaco/css/style.css
Informatique/Codage_en_HTML_CSS/site monaco/images/bar.jpg
Informatique/Codage_en_HTML_CSS/site monaco/images/cocktail-mois.png
Informatique/Codage_en_HTML_CSS/site monaco/images/logo.png
Informatique/Codage_en_HTML_CSS/site monaco/images/monaco.jpg
Informatique/Codage_en_HTML_CSS/site monaco/images/wallpaper.jpg
Maths/trouveur_de_solution.py
Maths/TP1/derivee.py
Maths/TP1/TP1.1.py
Maths/TP1/TP2.2.py
NSI/Sec et Prem/Appli/Labyrinthe.py
NSI/Sec et Prem/Appli/test.py
NSI/Sec et Prem/Dico/exercice synthèse dico.py
NSI/Sec et Prem/Dico/Exercice texte Jules verne.py
NSI/Sec et Prem/Dico/texte.txt
NSI/Sec et Prem/Dico/TP dico.py
NSI/Sec et Prem/Html/jeu RPG chateau/bouton acceuil.html
NSI/Sec et Prem/Html/jeu RPG chateau/ghjnk,
NSI/Sec et Prem/Html/jeu RPG chateau/index.html
NSI/Sec et Prem/Html/jeu RPG chateau/Porte 1.html
NSI/Sec et Prem/Html/jeu RPG chateau/Porte 2.html
NSI/Sec et Prem/Html/jeu RPG chateau/salle_sombre.jpg
NSI/Sec et Prem/Html/TP 1/Ex 1.html
NSI/Sec et Prem/Html/TP 1/Ex 2.html
NSI/Sec et Prem/Html/TP 1/Ex 3.html
NSI/Sec et Prem/Html/TP 2/TP2 - Copie.html
NSI/Sec et Prem/Html/TP 2/TP2.html
NSI/Sec et Prem/Html/TP 2/js/tp2.js
NSI/Sec et Prem/Html/TP 3/index.html
NSI/Sec et Prem/Html/TP 3/css/tp3.css
NSI/Sec et Prem/Html/TP 3/js/tp3.js
NSI/Sec et Prem/Python/algo glouton.py
NSI/Sec et Prem/Python/ex 1 tri.py
NSI/Sec et Prem/Python/Exercice 1, 2, 3, 4 tableau.py
NSI/Sec et Prem/Python/Exercice 1.py
NSI/Sec et Prem/Python/Exercice 2.py
NSI/Sec et Prem/Python/Exercice 3.py
NSI/Sec et Prem/Python/Exercice 4.py
NSI/Sec et Prem/Python/Exercice 5 tableau.py
NSI/Sec et Prem/Python/Exercice 5.py
NSI/Sec et Prem/Python/Exercice 7 page 5.py
NSI/Sec et Prem/Python/Exercice 8  page 6.py
NSI/Sec et Prem/Python/Exercice 9 page 8.py
NSI/Sec et Prem/Python/Exercice 10 page 9.py
NSI/Sec et Prem/Python/Exercice 11 page 9.py
NSI/Sec et Prem/Python/Exercice 13 page 10.py
NSI/Sec et Prem/Python/Exercice 17 page 13.py
NSI/Sec et Prem/Python/Exercice 18 page 13.py
NSI/Sec et Prem/Python/Exercice 21 page 15.py
NSI/Sec et Prem/Python/Exercice 22 page 16.py
NSI/Sec et Prem/Python/Exercice 23 page 16.py
NSI/Sec et Prem/Python/Exercice chauffage 1.py
NSI/Sec et Prem/Python/Exercice dico anglais.py
NSI/Sec et Prem/Python/Exercice dico.py
NSI/Sec et Prem/Python/Exercice fonction mystère 2.py
NSI/Sec et Prem/Python/Exercice pages 40.py
NSI/Sec et Prem/Python/Exercice pages 41.py
NSI/Sec et Prem/Python/Jeu de dés.py
NSI/Sec et Prem/Python/L'ile aux loups partie 1.py
NSI/Sec et Prem/Python/L'île aux loups partie 2.py
NSI/Sec et Prem/Python/L'île aux loups partie 3.py
NSI/Sec et Prem/Python/Mini projet 1 devine nombre.py
NSI/Sec et Prem/Python/Mini projet 2 black jack.py
NSI/Sec et Prem/Python/Mini projet 3 Devine jours.py
NSI/Sec et Prem/Python/Mini projet Allumette.py
NSI/Sec et Prem/Python/Mini projet avion.py
NSI/Sec et Prem/Python/Mini Projet page 7.py
NSI/Sec et Prem/Python/Mini Projet tableau.py
NSI/Sec et Prem/SI/dee electronique.py
NSI/Sec et Prem/Table de donnée/Capture d’écran 2023-02-27 092433.png
NSI/Sec et Prem/Table de donnée/Capture d’écran 2023-02-27 095021.png
NSI/Sec et Prem/Table de donnée/eleves.csv
NSI/Sec et Prem/Table de donnée/ex 1 titanic.py
NSI/Sec et Prem/Table de donnée/ex 3)a titanic.py
NSI/Sec et Prem/Table de donnée/rando.csv
NSI/Sec et Prem/Table de donnée/table.py
NSI/Sec et Prem/Table de donnée/titanic.csv
NSI/Term/Arbre/arbre_max.py
NSI/Term/Arbre/arbre.py
NSI/Term/Arbre/declaration.txt
NSI/Term/Arbre/Huffman.py
NSI/Term/Arbre/ltdme80j-p.txt
NSI/Term/Arbre/tp_2.py
NSI/Term/Arbre/tp.py
NSI/Term/Cours/Fiche_de_revision_Algorithmique_OK.pdf
NSI/Term/Cours/Fiche_de_revision_Binaire_avance_OK.pdf
NSI/Term/Cours/Fiche_de_revision_Reseau_OK.pdf
NSI/Term/Cours/Fiche_de_revision_Web_avance_OK.pdf
NSI/Term/Cours/Fiche_de_revision_Web_base_OK_Partie_1.pdf
NSI/Term/Cours/Fiche_de_revision_Web_base_Partie_2_OK.pdf
NSI/Term/Cours/Fiche_de_revisions_Le_binaire_base_OK.pdf
NSI/Term/Cours/Modele_d_architecture_sequentielle.pdf
NSI/Term/Cours/VOGUE-Logo.avif
NSI/Term/fonctions_importantes/dichotomie_recursive.py
NSI/Term/fonctions_importantes/dichotomie.py
NSI/Term/fonctions_importantes/fusion_listes_triées.py
NSI/Term/fonctions_importantes/test_tp.py
NSI/Term/fonctions_importantes/tri_bulle.py
NSI/Term/fonctions_importantes/tri_insertion.py
NSI/Term/fonctions_importantes/tri_selection.py
NSI/Term/Projet_fin_annee/jeu.py
NSI/Term/Projet_fin_annee/menu.py
NSI/Term/Projet_fin_annee/test.py
NSI/Term/Projet_fin_annee/__pycache__/jeu_test.cpython-310.pyc
NSI/Term/Projet_fin_annee/__pycache__/jeu.cpython-310.pyc
NSI/Term/Projet_fin_annee/__pycache__/jeu.cpython-311.pyc
NSI/Term/Projet_fin_annee/autre/apprentissage.py
NSI/Term/Projet_fin_annee/autre/PixelifySans-Bold.ttf
NSI/Term/Projet_fin_annee/autre/PixelifySans-Medium.ttf
NSI/Term/Projet_fin_annee/autre/PixelifySans-Regular.ttf
NSI/Term/Projet_fin_annee/autre/PixelifySans-SemiBold.ttf
NSI/Term/Projet_fin_annee/autre/projet fin d'année.ods
NSI/Term/Projet_fin_annee/images/icon_pac_man.png
NSI/Term/Projet_fin_annee/images/menu_pac_man.png
NSI/Term/Projet_fin_annee/images/pac_man.png
NSI/Term/Projet_fin_annee/images/you_died (2).png
NSI/Term/Projet_fin_annee/images/__pycache__/jeu.cpython-310.pyc
NSI/Term/Python ; POO/exercices/assiettes.py
NSI/Term/Python ; POO/exercices/class 1.py
NSI/Term/Python ; POO/exercices/DC_01.py
NSI/Term/Python ; POO/exercices/DS_2.py
NSI/Term/Python ; POO/exercices/ex 1 F4C.py
NSI/Term/Python ; POO/exercices/ex 1 POO compte.py
NSI/Term/Python ; POO/exercices/ex 2 POO angle.py
NSI/Term/Python ; POO/exercices/ex 3 POO satellite.py
NSI/Term/Python ; POO/exercices/ex_pratique_1.py
NSI/Term/Python ; POO/exercices/fuel.py
NSI/Term/Python ; POO/exercices/interferences.py
NSI/Term/Python ; POO/exercices/mini_projet_cartes.py
NSI/Term/Python ; POO/exercices/mini_projet_domino.py
NSI/Term/Python ; POO/exercices/occurence.py
NSI/Term/Python ; POO/exercices/parite.py
NSI/Term/Python ; POO/exercices/piece.py
NSI/Term/Python ; POO/exercices/Rectangle.py
NSI/Term/Python ; POO/exercices/test.py
NSI/Term/Python ; POO/generateur_mdp/generateur_mdp.py
NSI/Term/Python ; POO/generateur_mdp/generateur_test.py
NSI/Term/Python ; POO/generateur_mdp/generateur_v0.py
NSI/Term/Python ; POO/generateur_mdp/test.py
NSI/Term/Python ; POO/jeu_role/main_jdr.py
NSI/Term/Python ; POO/jeu_role/Personnage_jdr.py
NSI/Term/Python ; POO/jeu_role/Plateau_jdr.py
NSI/Term/Python ; POO/jeu_role/Salle_jdr.py
NSI/Term/Python ; POO/jeu_role/__pycache__/Personnage_jdr.cpython-310.pyc
NSI/Term/Python ; POO/jeu_role/__pycache__/Personnage_jdr.cpython-311.pyc
NSI/Term/Python ; POO/jeu_role/__pycache__/Plateau_jdr.cpython-310.pyc
NSI/Term/Python ; POO/jeu_role/__pycache__/Salle_jdr.cpython-310.pyc
NSI/Term/Python ; POO/jeu_role/__pycache__/test.py
NSI/Term/Python ; POO/matrices_graphes/act.py
NSI/Term/Python ; POO/matrices_graphes/file.py
NSI/Term/Python ; POO/matrices_graphes/matrices_graphes.py
NSI/Term/Python ; POO/matrices_graphes/pile.py
NSI/Term/Recursivite/boucle.py
NSI/Term/Recursivite/factorielle.py
NSI/Term/Recursivite/fonction_mystere.py
NSI/Term/Recursivite/hanoi.py
NSI/Term/Recursivite/nb_chiffre.py
NSI/Term/Recursivite/palindrome.py
NSI/Term/SQL/bd_livres_auteurs.db
NSI/Term/SQL/bd_livres.db
NSI/Term/SQL/tp_voyages.db
NSI/Term/SQL/tp_voyages.sqbpro
NSI/Term/Structure de données.py/Calculatrice_polonaise.py
NSI/Term/Structure de données.py/Cellule.py
NSI/Term/Structure de données.py/epreuve_pratique_2.py
NSI/Term/Structure de données.py/file.py
NSI/Term/Structure de données.py/paquet_carte.py
NSI/Term/Structure de données.py/pile.py
NSI/Term/Structure de données.py/sujet_4.py
NSI/Term/Structure de données.py/__pycache__/file.cpython-310.pyc
NSI/Term/Structure de données.py/__pycache__/pile.cpython-310.pyc
NSI/Term/Turtle/essai_2.py
NSI/Term/Turtle/essai_projet.py
NSI/Term/Turtle/essai.py
NSI/Term/Turtle/projet.py
NSI/Term/Turtle/projet/couleur_aleatoire.py
NSI/Term/Turtle/projet/etage.jpg
NSI/Term/Turtle/projet/etage.py
NSI/Term/Turtle/projet/facade.jpg
NSI/Term/Turtle/projet/facade.py
NSI/Term/Turtle/projet/fenetre_balcon.jpg
NSI/Term/Turtle/projet/fenetre_balcon.py
NSI/Term/Turtle/projet/fenetre.jpg
NSI/Term/Turtle/projet/fenetre.py
NSI/Term/Turtle/projet/immeuble.jpg
NSI/Term/Turtle/projet/immeuble.py
NSI/Term/Turtle/projet/main.jpg
NSI/Term/Turtle/projet/main.py
NSI/Term/Turtle/projet/porte.jpg
NSI/Term/Turtle/projet/porte.py
NSI/Term/Turtle/projet/porte1.jpg
NSI/Term/Turtle/projet/porte1.py
NSI/Term/Turtle/projet/porte2.jpg
NSI/Term/Turtle/projet/porte2.py
NSI/Term/Turtle/projet/rdc.jpg
NSI/Term/Turtle/projet/rdc.py
NSI/Term/Turtle/projet/rectangle.jpg
NSI/Term/Turtle/projet/rectangle.py
NSI/Term/Turtle/projet/sol.jpg
NSI/Term/Turtle/projet/sol.py
NSI/Term/Turtle/projet/toit.jpg
NSI/Term/Turtle/projet/toit.py
NSI/Term/Turtle/projet/toit1.jpg
NSI/Term/Turtle/projet/toit1.py
NSI/Term/Turtle/projet/toit2.jpg
NSI/Term/Turtle/projet/toit2.py
NSI/Term/Turtle/projet/TP immeubles.zip
NSI/Term/Turtle/projet/TP Modularite╠ü avec Turtle.pdf
NSI/Term/Turtle/projet/trait.jpg
NSI/Term/Turtle/projet/trait.py
NSI/Term/Turtle/projet/turtle.jpg
NSI/Term/Turtle/projet/turtleref.pdf
NSI/Term/Turtle/projet/__MACOSX/._porte1.jpg
NSI/Term/Turtle/projet/__MACOSX/._TP Modularite╠ü avec Turtle.pdf
NSI/Term/Turtle/projet/__MACOSX/._turtleref.pdf
Physique/Elec/Rapport TP 1 Elec.pdf
Physique/Elec/Rapport TP 2 Elec.pdf
Physique/Elec/Rapport TP 3 Elec.pdf
Physique/Fiches révisions JUNIA-learning/FR expression travail forces constantes.docx
Physique/Fiches révisions JUNIA-learning/FR lexpression de lenergie potentielle de pesanteur.docx
Physique/Fiches révisions JUNIA-learning/FR theoreme de l energie cinetique.docx
Physique/Fiches révisions JUNIA-learning/FR-loi des mailles - loi des noeuds - loi dohm.docx
Physique/Fiches révisions JUNIA-learning/FR-Relier lintensite courant continu.docx
Physique/Optique/OPTIQUE1_CIR1_JUNIA.pdf
Physique/Optique/OPTIQUE2_CIR1_JUNIA.pdf
Physique/Optique/OPTIQUE3_CIR1_JUNIA.pdf
Vie étudiante/Tableaux dépenses - Septembre.pdf
